@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212 !important;
    }
}